name: Build

on:
  - push
  - pull_request

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install
        run: yarn
      - name: Build
        run: yarn build

  docs:
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Docs
        run: >
          curl
          -X POST
          -H "Accept: application/vnd.github+json"
          -H "Authorization: token ${{ secrets.WORKFLOW_TOKEN }}"
          https://api.github.com/repos/koishijs/koishijs.github.io/actions/workflows/deploy.yml/dispatches
